[submodule "src/ledger"]
	path = src/ledger
	url = git@github.com:maxonrow/ledger-mxw-app.git
[submodule "deps/nanos-secure-sdk"]
	path = deps/nanos-secure-sdk
	url = git@github.com:LedgerHQ/nanos-secure-sdk.git
